body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: 20px auto;
    color: #333;
}


#result h4 {
    background-color: #24303b;
    color: white;
    padding: 15px;
    border-radius: 8px;
}

#result ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#result li {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black;
}

#result figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

#result img {
    width: 100%;
    height: 200px;
    /* object-fit: cover;
    display: block; */
}

#result .size {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 8px;
    border-radius: 20px;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#result .attribute {
    font-size: .7rem;
    padding: 0 15px 15px 15px;
    margin-top: 5px;
    line-height: 1.2;
    font-style: italic;
}



img {
    width: 100px;
}

figure.hightlight {
    background-color: green;
}



div#modal {
    position: absolute;
    top: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    width: 80%;
    margin: auto;
    min-height: 80vh;
    border: 1px solid black
}



.highlight {
    background-color: coral;
}
.hidden {
    display: none;
}