body {
    font-family: Arial, Helvetica, sans-serif;
}

#n4Code {
    display: inline-block;
    font-size: 2rem;
    padding: 15px 30px;
    border-radius: 30px;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.krona {
    background-color: gold;
    color: black;
    box-shadow: 0 0 10px gold;
}

.klave {
    background-color: silver;
    color: black;
    box-shadow: 0 0 10px silver;
}