body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.n4Code {
    display: inline-block;
    font-size: 2rem;
    padding: 15px 30px;
    border-radius: 30px;
    margin-top: 10px;
    transition: all 0.2s ease;
}


section#n5 img {
    width: 150px;
}

