* {
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}


body {
    font-family: fantasy;
}

#result {
    margin-top: 20px;
}

.character-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.character-card img {
    max-width: 200px;
    border-radius: 5px;
}

.character-card h3 {
    margin-top: 0;
}
