@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    /* 
  Formula:
  --name: value 

  How to use:
  var(--name)
  */
    /* Pokemon Brand Colors */
    --primary-color: rgb(192, 0, 0);
    /* Pokemon Red */
    --secondary-color: rgb(52, 105, 177);
    /* Pokemon Blue */
    --accent-color: rgb(255, 203, 5);
    /* Pokemon Yellow */

    --light-color: #fcfcfc;
    --dark-color: #282828;


    /* Pokémon Types */
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7CE;
    --fairy: #D685AD;
}

/* Denna reset används för att nollställa många av webbläsarens egna styling (browser styling) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: "Pixelify Sans", sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--secondary-color);
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* id pokemon-list */
#pokemon-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    /* #pokemon-list .item */

    .item {
        position: relative;
        background-color: var(--light-color);
        color: var(--dark-color);
        width: 90%;
        max-width: 480px;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        /* 1rem = 16px som standard */

        .item-number {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 80px;
            height: 80px;
            background-color: var(--accent-color);
            color: var(--secondary-color);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
        }

        /* #pokemon-list .item .item-image */
        .item-image {
            padding: 2rem;
            /* border: 1px solid green; */
            margin-bottom: 1rem;
            background-color: #f0f0f0;
            border-radius: 0.5rem;

            /* #pokemon-list .item .item-image img */
            img {
                max-width: 100%;
                /* border: 1px solid red; */
            }
        }

        .item-content {
            /* border: 1px solid green; */

            .item-name {
                text-transform: uppercase;
                margin-bottom: 8px;
                font-size: 32px;
            }

            .item-categories {
                display: flex;
                gap: 0.5rem;
                margin-bottom: 1.5rem;

                div {
                    background-color: #f0f0f0;
                    padding: 4px 8px;
                    border-radius: 4px;
                    font-weight: bold;
                    text-transform: capitalize;

                    &.normal {
                        background-color: var(--normal);
                        color: var(--dark-color);
                    }

                    &.fire {
                        background-color: var(--fire);
                        color: var(--light-color);
                    }

                    &.water {
                        background-color: var(--water);
                        color: var(--light-color);
                    }

                    &.electric {
                        background-color: var(--electric);
                        color: var(--light-color);
                    }

                    &.grass {
                        background-color: var(--grass);
                        color: var(--light-color);
                    }

                    &.ice {
                        background-color: var(--ice);
                        color: var(--light-color);
                    }

                    &.fighting {
                        background-color: var(--fighting);
                        color: var(--light-color);
                    }

                    &.poison {
                        background-color: var(--poison);
                        color: var(--light-color);
                    }

                    &.ground {
                        background-color: var(--ground);
                        color: var(--light-color);
                    }

                    &.flying {
                        background-color: var(--flying);
                        color: var(--light-color);
                    }

                    &.psychic {
                        background-color: var(--psychic);
                        color: var(--light-color);
                    }

                    &.bug {
                        background-color: var(--bug);
                        color: var(--light-color);
                    }

                    &.rock {
                        background-color: var(--rock);
                        color: var(--light-color);
                    }

                    &.ghost {
                        background-color: var(--ghost);
                        color: var(--light-color);
                    }

                    &.dragon {
                        background-color: var(--dragon);
                        color: var(--light-color);
                    }

                    &.dark {
                        background-color: var(--dark);
                        color: var(--light-color);
                    }

                    &.steel {
                        background-color: var(--steel);
                        color: var(--light-color);
                    }

                    &.fairy {
                        background-color: var(--steel);
                        color: var(--light-color);
                    }
                }
            }
        }

        .read-more {
            background-color: var(--secondary-color);
            color: var(--light-color);
            padding: 1rem 2rem;
            align-self: flex-start;
            text-decoration: none;
            border-radius: 0.5rem;
        }
    }

}